@attribute [Route(PageRoutes.Presidents)]
@rendermode InteractiveServer
@using Client.Utils
@using Data.Models
@inherits Client.Utils.BasePageWithPagination<Data.Models.President>

<h1>Presidentes</h1>
@if (!LoadingData)
{
    <FluentDataGrid Loading="true" ItemsProvider="@DataProvider" Pagination="@Pagination" GenerateHeader="GenerateHeaderOption.Sticky" TGridItem="President">
        <PropertyColumn Property="@(p => p.Id)" Sortable="true" Title="ID"/>
        <PropertyColumn Property="@(p => p.Name)" Sortable="true" Title="Nombre"/>
        <PropertyColumn Property="@(p => p.Description)" Title="Descripción"/>
    </FluentDataGrid>
    <PaginationComponent Pagination="@Pagination"/>
}
else
{
    <Loading/>
}