@page "/Presidents"
@rendermode InteractiveServer
@inherits Client.Utils.BasePageWithPagination<Data.Models.President>

<h1>Presidentes</h1>
@if (PaginatedModel != null && !LoadingData)
{
    <section class="cards-container">
        @foreach (var president in PaginatedModel.Data)
        {
            <PresidentCard CurrentPresident="@president"/>
        }
    </section>
    <Pagination
        OnNextPage="@NextPage"
        OnPreviousPage="@PreviousPage"
        PageSize="@PaginatedModel.PageSize"
        Total="@PaginatedModel.TotalRecords"
        PageCount="@PaginatedModel.PageCount"
        PageNumber="@PaginatedModel.Page"/>
}
else
{
    <Loading/>
}