<div class="card">
    <img class="card-image" src="@CurrentPresident.Image" alt="@CurrentPresident.Name @CurrentPresident.LastName">
    <h5>@CurrentPresident.Name @CurrentPresident.LastName</h5>
    <p>@CurrentPresident.Description?.Substring(0, 150) ...</p>
    <div>
        <NavLink href="@PresidentUrl">Ver más</NavLink>
    </div>
</div>